{% extends "layout.html" %}
{% block body %}
<p>
<h2 align="center">==========================</h2>
<h2 align="center">Welcome to my SFIA Project</h2>
<h2 align="center">==========================</h2>
</p>

<p>
<h4 align="center">Please register to access our services!</h4>
<h4 align="center">After the registeration, you would be able to login into your account!</h4>
<h4 align="center">After login you can choose books from a list and leave your feedback about them!</h4>
<h4 align="center">*********************!!Enjoy your stay!!*********************</h4>
</p>

<p>
<h3 align="center">=================================================</h3>
<h3 align="center">Below the is the list of our available books</h3>
<h3 align="center">=================================================</h3>
</p>
<form action='/','/home' method='GET'>
{% if books %}
	{% for book in books %}
		<p><h3>Genre: {{ book.genre }}</h3></p>
		<p><h3>Title: {{ book.title }}</h3></p>
		<p><h3>Author: {{ book.author }}</h3></p>
		<p><h3>Content: {{ book.content }}</h3><p>
		<hr>
	{% endfor %}
{% else %}
	<p>
	<h2 align="center">Currently no books available!</h2>
	</p>
{% endif %}
</form>
{% endblock %}
