{% extends "layout.html" %}
{% block body %}
<p>
<h2 align="center">==========================</h2>
<h2 align="center">Welcome to my SFIA Project</h2>
<h2 align="center">==========================</h2>
</p>

<p>
<h4 align="center">Please register to access our services!</h4>
<h4 align="center">After the registeration, you would be able to login into your account!</h4>
<h4 align="center">After login you can choose books from a list and leave your feedback about them!</h4>
<h4 align="center">*********************!!Enjoy your stay!!*********************</h4>
</p>

<p>
<h3 align="center">=================================================</h3>
<h3 align="center">Below the is the list of our available books</h3>
<h3 align="center">=================================================</h3>
</p>
<!--form action='/','/home' method='GET'>
{% if books %}
	{% for book in books %}
		<p><h3>Genre: {{ book.genre }}</h3></p>
		<p><h3>Title: {{ book.title }}</h3></p>
		<p><h3>Author: {{ book.author }}</h3></p>
		<p><h3>Content: {{ book.content }}</h3><p>
	{% endfor %}
{% else %}
	<p>
	<h2 align="center">Currently no books available!</h2>
	</p>
{% endif %}
</form-->

<form action='/','/home' method='GET'>
{% if books %}
	{% for book in books %}
	<p>
	<table width="70%" height="80%" border="1px" align="center">
	<tbody>
		<tr>
			<td style="width:40%; text-align: center;" rowspan="4">image</td>
			<td style="text-align: left">
			<h4>Title: </h4>{{ book.title }}
			</td>
		</tr>
		<tr>
			<td style="text-align: left">
			<h4>Content: </h4>{{ book.content }}
			</td>
		</tr>
		<tr>
			<td style="text-align: left">
			<h4>Author: </h4>{{ book.author }}
			</td>
		</tr>
		<tr>
			<td style="text-align: left">
			<h4>Genre: </h4>{{ book.genre }}
			</td>
		</tr>
	</tbody>
	</p>
	{% endfor %}
{% else %}
        <p>
        <h2 align="center">Currently no books available!</h2>
        </p>
{% endif %}
</table>
</form>

{% endblock %}
