{% extends "layout.html" %}
{% block body %}
<h3 align="center"><p>Login to access your account!</p></h3>
	<div class="form_group" align="center">
	<form method='POST' action=''>
		{{ form.hidden_tag() }}
        
        	<div class="form_group" align="center">
	        {{ form.email.label }}
        	{{ form.email }}
		</div>
        	<br>
        
		<div class="form_group" align="center">
		{{ form.password.label }}
		{{ form.password }}
		</div>
		<br>

	        <div class="form_group" align="center">
		{{ form.submit }}
        	</div>
        </form>
        </div>
{% endblock %}
