{% extends "layout.html" %}
{% block body %}
<h3 align="center"><p>Login to access your account!</p></h3>
	<div class="form_group" align="center">
	<form method='POST' action=''>
		{{ form.hidden_tag() }}
               	<div class="form_group" align="center">
	        {{ form.email.label }}
        	{{ form.email }}
		{% if form.email.errors %}
			<div class="error" align="center">
	                {% for error in form.email.errors %}
        	                <span>{{ error }}</span>
                	{% endfor %}
	                </div>
		{% endif %}
		</div>
        	<br>
        	<div class="form_group" align="center">
		{{ form.password.label }}
		{{ form.password }}
                {% if form.password.errors %}
			<div class="error" align="center">
	                {% for error in form.password.errors %}
        	                <span>{{ error }}</span>
                	{% endfor %}
	                </div>	
		{% endif %}
		</div>
		<br>
	        <div class="form_group" align="center">
		{{ form.submit }}
        	</div>
        </form>
        </div>
{% endblock %}
